footer.footer
    .container.footer__container
        nav.site-menu
            ul.site-menu__sections
                li.site-menu__col
                    h3.site-menu__title Информация
                    ul.site-menu__list
                        li.site-menu__item
                            a.site-menu__link(href='#') О магазине
                        li.site-menu__item
                            a.site-menu__link(href='#') Адреса магазинов
                        li.site-menu__item
                            a.site-menu__link(href='#') Как сделать заказ?
                        li.site-menu__item
                            a.site-menu__link(href='#') Обмен и возврат
                        li.site-menu__item
                            a.site-menu__link(href='#') Отзывы
                li.site-menu__col
                    h3.site-menu__title Футболки
                    ul.site-menu__list
                        li.site-menu__item
                            a.site-menu__link(href='#') Популярное
                        li.site-menu__item
                            a.site-menu__link(href='#') Новинки
                        li.site-menu__item
                            a.site-menu__link(href='#') Бестселлеры
                        li.site-menu__item
                            a.site-menu__link(href='#') Специальные предложения
                        li.site-menu__item
                            a.site-menu__link(href='#') Скоро в продаже
                li.site-menu__col
                    h3.site-menu__title Коллекции
                    ul.site-menu__list
                        li.site-menu__item
                            a.site-menu__link(href='#') Детская коллекция
                        li.site-menu__item
                            a.site-menu__link(href='#') Женская коллекция
                        li.site-menu__item
                            a.site-menu__link(href='#') Мужская коллекция
                        li.site-menu__item
                            a.site-menu__link(href='#') Лучшие принты 2018 года
                        li.site-menu__item
                            a.site-menu__link(href='#') Лучшие принты 2019 года
                li.site-menu__col
                    h3.site-menu__title Контактная информация
                    .site-menu__text
                        | Санкт-Петербург, 
                        br
                        |                   ул. Жуковского, д. 12
                    .site-menu__text
                        a.site-menu__text-row(href='tel.:+78123157235')
                            | Телефон: 8 (812) 315-72-35
                        a.site-menu__text-row(href='mailto:support@yourwebsite.com')
                            | Email: support@yourwebsite.com