section.footer-banner
    .footer-banner__col
        a.banner-title(href='#')
            | Лучшие принты 
            br
            |               2019 года
    .footer-banner__col.footer-banner__col_theme_sosial
        ul.socials
            li.socials__item
                a.socials__link(href='#')
                    svg.socials__icon
                        use(xlink:href='./assets/img/icons-sprite.svg#fb')
            li.socials__item
                a.socials__link(href='#')
                    svg.socials__icon
                        use(xlink:href='./assets/img/icons-sprite.svg#twitter')
            li.socials__item
                a.socials__link(href='#')
                    svg.socials__icon
                        use(xlink:href='./assets/img/icons-sprite.svg#insta')
            li.socials__item
                a.socials__link(href='#')
                    svg.socials__icon
                        use(xlink:href='./assets/img/icons-sprite.svg#pin')