section.products
    .container
        ul.filter
            li.filter__item.filter__item_active
                a.filter__link(href='#', data-filter='popular') Популярное
            li.filter__item
                a.filter__link(href='#', data-filter='new') Особые
            li.filter__item
                a.filter__link(href='#', data-filter='') Бестселлеры
            li.filter__item
                a.filter__link(href='#', data-filter='specials') Специальные предложения
            li.filter__item
                a.filter__link(href='#', data-filter='soon') Скоро в продаже
        ul.products__list
            li.products__item.product-card
                .product-card__price
                    .product-card__price-amount 1 800
                .product-card__content
                    picture.slider__images-set
                        source(srcset="/assets/img/tshirts/tshirt_01.webp" type="image/webp")
                        img( src="/assets/img/tshirts/tshirt_01.png", alt="Фото футболоки с принтом лошади").product-card__img
                    .product-card__desc
                        .product-card__desc-text
                            | Мужская футболка 3D с принтом. Летающие черепахи.
                        a.btn(href='#') Подробнее
            li.products__item.product-card
                .product-card__price
                    .product-card__price-amount 1 800
                .product-card__content
                    picture.slider__images-set
                        source(srcset="/assets/img/tshirts/tshirt_02.webp" type="image/webp")
                        img( src="/assets/img/tshirts/tshirt_02.png", alt="Фото футболоки с принтом лошади").product-card__img
                    .product-card__desc
                        .product-card__desc-text
                            | Мужская футболка 3D с принтом. Летающие черепахи.
                        a.btn(href="#") Подробнее
            li.products__item.products__item_color_black.products__item_size_double.product-card
                .product-card__price
                    .product-card__price-amount 1 800
                .product-card__content
                    picture.slider__images-set
                        source(srcset="/assets/img/tshirts/tshirt_03.webp" type="image/webp")
                        img( src="/assets/img/tshirts/tshirt_03.png", alt="Фото футболоки с принтом лошади").product-card__img
                    .product-card__desc
                        .product-card__desc-text
                            | Мужская футболка 3D с принтом. Летающие черепахи.
                        a.btn(href="#") Подробнее
            li.products__item.products__item_color_black.products__item_size_double.product-card
                .product-card__price
                    .product-card__price-amount 1 800
                .product-card__content
                    picture.slider__images-set
                        source(srcset="/assets/img/tshirts/tshirt_04.webp" type="image/webp")
                        img( src="/assets/img/tshirts/tshirt_04.png", alt="Фото футболоки с принтом лошади").product-card__img
                    .product-card__desc
                        .product-card__desc-text
                            | Мужская футболка 3D с принтом. Летающие черепахи.
                        a.btn(href="#") Подробнее
            li.products__item.product-card
                .product-card__price
                    .product-card__price-amount 1 800
                .product-card__content
                    picture.slider__images-set
                        source(srcset="/assets/img/tshirts/tshirt_05.webp" type="image/webp")
                        img( src="/assets/img/tshirts/tshirt_05.png", alt="Фото футболоки с принтом лошади").product-card__img
                    .product-card__desc
                        .product-card__desc-text
                            | Мужская футболка 3D с принтом. Летающие черепахи.
                        a.btn(href="#") Подробнее
            li.products__item.product-card
                .product-card__price
                    .product-card__price-amount 1 800
                .product-card__content
                    picture.slider__images-set
                        source(srcset="/assets/img/tshirts/tshirt_06.webp" type="image/webp")
                        img( src="/assets/img/tshirts/tshirt_06.png", alt="Фото футболоки с принтом лошади").product-card__img
                    .product-card__desc
                        .product-card__desc-text
                            | Мужская футболка 3D с принтом. Летающие черепахи.
                        a.btn(href="#") Подробнее