.btn {
    text-transform: uppercase;
    font-family: 'yanone';
    font-size: 24px;
    padding: 2px 30px;
    background: $black;
    color: $yellow;
    display: inline-block;
    text-decoration: none;
  }
  
  .btn:hover {
    background: $red;
    color: #fff;
  }