.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  .filter__item {
    margin-right: 40px;
  }
  
  .filter__item:last-child {
    margin-right: 0;
  }
  
  .filter__link {
    font-family: 'yanone';
    text-transform: uppercase;
    padding: 3px 21px;
    color: $black;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
  }
  
  .filter__link:hover {
    color: $red;
  }
  
  .filter__item_active .filter__link {
    color: $yellow;
    background: $black;
  }