extends ../_template

block variables
  - var title = 'Mr. Burger - Магазин натуральных бургеров'

block content
  include ../sections/hero
  include ../sections/products
  include ../sections/collection
  include ../sections/footer